.header{ 
    padding:40px;
    text-align:center;
}


body{
background-color:gold;
}

img{
    width:200px;
    height:200px;
    border:10px;
}
body{
    background-color:gold;
}
.info{
    background-color:white ;
    border:5px;
}
.img{
    display:flex;
    justify-content:space-around;
    Padding:20px;
    Background-color:white;
    border:5px dotted gold;
    
    
}